* {
	margin: 0;
	padding: 0;
	border: none;
	background-color: white;
}

.left-layout {
	float: left;
	width: 14%;
	height: 850px;
	background-color: rgb(57, 58, 53);
}

.left-layout__account {
	width: 100%;
	height: 150px;
	background-color: rgb(41, 41, 41);
}

.left-layout__account--img {
	width: 100%;
	height: 70%;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-layout__account--img img {
	margin-top: 10px;
	width: 77px;
	height: 77px;
	border-radius: 50%;
}

.left-layout__account--name {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.left-layout__account--name a {
	font-size: 15px;
	background-color: transparent;
	color: rgb(228, 228, 228);
}

.account--name {
	text-decoration: none;
}

.account--name:hover {
	color: rgb(14, 116, 188);
}

.right-layout {
	float: left;
	width: 86%;
	height: 850px;
}

.right-layout__top {
	width: 100%;
	height: 40px;
	background-color: rgb(57, 58, 53);
}

.logout {
	width: 100px;
	height: 40px;
	float: right;
	margin-right: 2.6%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(57, 58, 53);
}

.logout i {
	margin-right: 5px; 
	font-size: 15px;
	color: red;
	background-color: rgb(57, 58, 53);
}

.logout a{
	color: rgb(228, 228, 228);
	text-decoration: none;
}
.logout a:hover{
	color: rgb(228, 228, 228);
	text-decoration: none;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
}

td, th {
	border: 1px solid rgb(85, 85, 85);
	text-align: left;
	padding: 8px;
	font-size: 14px;
}

th {
	font-weight: normal;
	background-color: rgb(124, 101, 58);
	color: rgb(238, 238, 238);
}

td {
	background-color: rgb(85, 85, 85);
	color: rgb(235, 235, 235);
}

ul {
	float: right;
	margin-top: 10px;
	font-size: 14.3px;
	margin-top: 10px;
}

.left-layout__menu--nv1 {
	padding-top: 50px;
	background-color: rgb(57, 58, 53);
}

.boder__menu-nv1 {
	width: 100%;
	padding: 5px;
	background-color: transparent;
}

.boder__menu-nv1 i {
	font-size: 15px;
	background-color: transparent;
	color: rgb(14, 116, 188);
	margin-left: 3px;
	float: left;
	margin-top: 3px;
}

.menu-nv1 {
	color: rgb(228, 228, 228);
	background-color: transparent;
	font-size: 13.7px;
	margin-left: 7px;
}

#menu-nv1 {
	margin-left: 10px;
}

.boder__menu-nv1:hover {
	background-color: rgb(47, 48, 44);
}

.menu-nv1:hover {
	color: rgb(228, 228, 228);
}